.mainContainer {
  margin: 40px;
}

.logo {
  margin-bottom: 40px;
}

.formStepTitle {
  color:#343a40;
}

.formStep {
  color: #939a9c;
}

.formContainer {
  background-color: #fff;
  padding: 40px;
}

.ui.form .field .formInput {
  background-color: #ededed;
  border: 0px solid black;
  height: 4rem;
  color:#343a40;
  border-radius: 0px;
  &:focus {
    background-color: #ededed;
    border-bottom: 1px solid #06a0e3;
    border-radius: 0px;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#343a40;;
  opacity: 1; /* Firefox */
}