body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f8f9fa;;
}

h1, h2, h3, h4, h5, .ui.button {
  font-family: 'Roboto';
  font-weight: 700;
}

.ui.form .field input {
  font-family: 'Roboto';
}

.ui.button.next {
  background-color: #06a0e3;
  color: #FFFFFF;

  &:hover {
    background-color: #0480b5;
  }
}

